.c-o-n-t-a-c-t-container {
  min-height: 100vh;
}
.c-o-n-t-a-c-t-c-o-n-t-a-c-t {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-image: linear-gradient(180deg, rgba(246, 59, 0, 0.46000000834465027) 0%, rgba(255, 250, 144, 0.47999998927116394) 100%);
}
.c-o-n-t-a-c-t-frame14 {
  top: 0px;
  left: 0px;
  width: 1600px;
  height: 135px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-image: linear-gradient(180deg, rgba(244, 148, 4, 1) 0%, rgba(244, 148, 4, 0) 100%);
}
.c-o-n-t-a-c-t-a-c-t-i-o-n-f-r-a-m-e {
  top: 211px;
  left: 657px;
  width: 759px;
  height: 36px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.c-o-n-t-a-c-t-a-c-t-i-o-n-f-r-a-m-e1 {
  top: 67px;
  left: 657px;
  width: 759px;
  height: 36px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.c-o-n-t-a-c-t-text {
  top: 5px;
  left: 12px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.c-o-n-t-a-c-t-text02 {
  top: 5px;
  left: 262px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.c-o-n-t-a-c-t-text04 {
  top: 5px;
  left: 116px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.c-o-n-t-a-c-t-text06 {
  top: 5px;
  left: 525px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.c-o-n-t-a-c-t-text08 {
  top: 5px;
  left: 396px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.c-o-n-t-a-c-t-text10 {
  top: 5px;
  left: 674px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.c-o-n-t-a-c-t-frame29 {
  top: 211px;
  left: 99px;
  width: 682px;
  height: 491px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.c-o-n-t-a-c-t-frame30 {
  top: 147px;
  left: 84px;
  width: 207px;
  height: 52px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.c-o-n-t-a-c-t-text12 {
  top: 152px;
  left: 102px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.c-o-n-t-a-c-t-frame10 {
  top: 211px;
  left: 99px;
  width: 682px;
  height: 491px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.c-o-n-t-a-c-t-thumbnail1 {
  top: 0px;
  left: 0px;
  width: 682px;
  height: 569px;
  position: absolute;
  border-color: transparent;
}
.c-o-n-t-a-c-t-rectangle5 {
  top: 192px;
  left: 573px;
  width: 74px;
  height: 226px;
  position: absolute;
  border-color: transparent;
  border-radius: 24px;
}
.c-o-n-t-a-c-t-line1 {
  top: 221px;
  left: 608px;
  width: 45px;
  height: 0px;
  position: absolute;
}
.c-o-n-t-a-c-t-line2 {
  top: 238.59384155273438px;
  left: 633.99609375px;
  width: 45px;
  height: 0px;
  position: absolute;
}
.c-o-n-t-a-c-t-line3 {
  top: 368.5938720703125px;
  left: 633.99609375px;
  width: 45px;
  height: 0px;
  position: absolute;
}
.c-o-n-t-a-c-t-frame31 {
  top: 194px;
  left: 912px;
  width: 282px;
  height: 81px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.c-o-n-t-a-c-t-text14 {
  top: 4px;
  left: 29px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 37px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.c-o-n-t-a-c-t-frame33 {
  top: 549px;
  left: 912px;
  width: 282px;
  height: 60px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.c-o-n-t-a-c-t-text16 {
  top: 4px;
  left: 29px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 37px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.c-o-n-t-a-c-t-frame32 {
  top: 431px;
  left: 909px;
  width: 282px;
  height: 81px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.c-o-n-t-a-c-t-text18 {
  top: 4px;
  left: 29px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 37px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.c-o-n-t-a-c-t-text20 {
  top: 275px;
  left: 941px;
  color: rgba(0, 0, 0, 1);
  width: 442px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.c-o-n-t-a-c-t-text22 {
  top: 491px;
  left: 941px;
  color: rgba(0, 0, 0, 1);
  width: 442px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.c-o-n-t-a-c-t-text24 {
  top: 608px;
  left: 941px;
  color: rgba(0, 0, 0, 1);
  width: 442px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
