.g-a-l-l-e-r-y-container {
  min-height: 100vh;
}
.g-a-l-l-e-r-y-g-a-l-l-e-r-y {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-image: linear-gradient(180deg, rgba(246, 59, 0, 0.46000000834465027) 0%, rgba(255, 250, 144, 0.47999998927116394) 100%);
}
.g-a-l-l-e-r-y-frame14 {
  top: 0px;
  left: 0px;
  width: 1600px;
  height: 135px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-image: linear-gradient(180deg, rgba(244, 148, 4, 1) 0%, rgba(244, 148, 4, 0) 100%);
}
.g-a-l-l-e-r-y-a-c-t-i-o-n-f-r-a-m-e {
  top: 211px;
  left: 657px;
  width: 759px;
  height: 36px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.g-a-l-l-e-r-y-a-c-t-i-o-n-f-r-a-m-e1 {
  top: 67px;
  left: 657px;
  width: 759px;
  height: 36px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.g-a-l-l-e-r-y-text {
  top: 5px;
  left: 12px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.g-a-l-l-e-r-y-text02 {
  top: 5px;
  left: 262px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.g-a-l-l-e-r-y-text04 {
  top: 5px;
  left: 116px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.g-a-l-l-e-r-y-text06 {
  top: 5px;
  left: 525px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.g-a-l-l-e-r-y-text08 {
  top: 5px;
  left: 396px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.g-a-l-l-e-r-y-text10 {
  top: 5px;
  left: 674px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.g-a-l-l-e-r-y-frame28 {
  top: 161px;
  left: 86px;
  width: 195px;
  height: 81px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.g-a-l-l-e-r-y-text12 {
  top: 21px;
  left: 16px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
